/* Review @media queries */
/* Bring in Bootstrap CSS */
body {
	margin: 0;
}

.container {
	margin-top: 20px;
	padding: 20px;
}

form {
	margin: 0 auto;
	padding: 50px;
	align-items: center;
}

img {
	width: 500px;
	height: 400px;
	margin-bottom: 20px;
}

.link_object {
	align-items: center;
}
