/* Review @media queries */
/* Bring in Bootstrap CSS */
body {
	background-color: white;
	color: #333;
	margin: 0;
}

header {
	background-color: rgb(5, 109, 194);
	color: #333;
}

.intro {
	width: 500px;
}
